<div class="sticky w-[100%] h-20 bg-black opacity-95">
  <div
    class="w-[90%] text-white flex items-center justify-between lg:w-[70%] h-full mx-auto"
  >
    <img
      class="w-[200px] h-[80%] object-contain"
      src="../../../assets/FlorBank-logo.png"
    />
    <div class="w-[50%] h-[100%] py-1 flex items-center justify-around">
      <button class="text-base font-semibold hover:text-slate-400">Become a client</button>
      <button class="w-[30%] h-[70%] font-semibold hover:animate-pulse bg-slate-700 rounded-sm hover:bg-slate-400 hover:transition-colors hover:text-black">Home Banking</button>
    </div>
  </div>
</div>
