<div class="sticky w-[100%] h-20 bg-black opacity-95">
  <div
    class="w-[90%] text-white flex items-center justify-between lg:w-[70%] h-full mx-auto"
  >
    <img
      class="w-[200px] h-[80%] object-contain"
      src="../../../assets/FlorBank-logo.png"
      [routerLink]="['/']"
    />
    <div
    class="w-[50%] h-[100%] py-1 flex items-center justify-around">
      <a class="w-[30%] h-[70%] flex items-center justify-center font-semibold hover:text-slate-400 cursor-pointer"
      routerLink="/become-client"
      routerLinkActive="underline underline-offset-8 decoration-4 underline-white hover:text-white"
      >Become a client</a>
      <button class="w-[30%] h-[70%] font-semibold hover:animate-pulse bg-slate-700 rounded-sm hover:bg-slate-400 hover:transition-colors hover:text-black"
      routerLink="/login"
      >Home Banking</button>
    </div>
  </div>
</div>
