<div class="w-full h-full flex flex-col items-center justify-center">
  <!-- topside -->
  <div class="relative w-[100%] h-[100%]">
    <div
      class="w-[100%] h-[100%] text-white bg-no-repeat bg-cover"
      style="
        background-image: url(../../../../../assets/become-client-cover.jpg);
      "
    >
      <div
        class="absolute lg:top-16 lg:left-10 lg:w-[30%] h-auto px-2 py-1 text-black z-10 mx-auto"
      >
        <div class="capitalize">
          <p class="text-sm text-blue-900 font-bold">the best choice!</p>
          <h2 class="text-start text-3xl font-semibold text-blue-600">
            Become Flor-Bank client
          </h2>
        </div>
        <div class="mt-5 flex flex-col text-gray-500 font-light text-base gap-4">
          <div class="flex items-center justify-start gap-2">
            <shared-icon-check></shared-icon-check>
            <p>
             We put at your disposal products developed with your needs in mind
            </p>
          </div>
          <div class="flex items-center justify-start gap-2">
            <shared-icon-check></shared-icon-check>
            <p>grow your savings and invest with us!.</p>
          </div>
          <div class="flex items-center justify-start gap-2">
            <shared-icon-check></shared-icon-check>
            <p>
              make your transaction movements without leaving your home by our
              online platforms.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
